<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>

    <body>
        <div class="container">
            <h1>Listing books:</h1>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book: ${books}">
                        <td th:text="${book.title}" />
                        <td th:text="${book.author}" />
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>